/* CSS Document */
*{
	padding:0px;
	margin:0px;
}

body{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#center{
    margin-right: auto;
    margin-left: auto;
}
body,td,th{
	font-family: ו;
	font-size: 12px;
}
.cbody{
	margin:0 auto;
	width:952px;
}
#header{
	position:relative;
	
}
#header_top{
	font-size:12px;
	text-align:right;
	height:23px;
	line-height:23px;
	color:#D3070A;
}
#header_top a:link,#header_top a:visited{
	color:#D3070A;
}
#header h1{
	color:#737373;

	padding-top:50px;
	padding-bottom:3px;
	height:30px;
	width:952px;
}
#header h1 a{
	display:block;
	height:65px;
	width:206px;
	text-indent:-9999px;
	overflow:hidden;
}
.l{
    float:center;
}
.r{
    float:right;
}
.c{
    clear:both;
}
.box{
    width:952px;
    margin:0px auto;
}
.box.top{
    width:952px;
    height:120px;
}
.box .top .head{width:952px; height:86px;}
.box .top .head .logo{width:252px; height:86px; background:url(logo.html) no-repeat;}
.box .top .head .top_r{width:700px; height:86px;}
.box .top .head .top_r .set{color:#737373; height:50px; text-align:right; padding:8px 7px 0 0;}
.box .top .head .top_r .set a {color:#737373; text-decoration:none;}
.box .top .head .top_r .set a:hover {color:#f06314; text-decoration:underline;}
.box .top .head .top_r .nav {width:700px; height:28px;}
.box .top .head .top_r .nav ul {padding-left:47px; height:28px; margin:0px;}
.box .top .head .top_r .nav ul li {float:left; width:93px; height:28px; list-style:none;}
.box .top .head .top_r .nav ul li a {width:89px; height:28px; display:block; text-align:center; line-height:32px; overflow:hidden;}
a.an01 {color:#ffffff; text-decoration:none; font-size:14px; background:url(an01.html) no-repeat; font-family:Times New Roman;} 
a.an02 {color:#006c2e; text-decoration:none; font-size:14px; background:url(an02.html) no-repeat; font-family:Times New Roman;}
.box .banner{width:946px; padding:2px; border:#d3eace 1px solid; margin-top:10px;}
.top .welcome {color:#737373; text-align:right; padding:15px 7px 0 0;}
.top .welcome span {color:#009f3c;}
.box .soft {width:950px; height:auto; border:#d3eace 1px solid; margin-top:6px;}
.box .soft .s_top {background:#f3fff1;}
.box .soft .s_top .s_an {
padding:0px 0px 0px 0px;
height:20px;
}
.box .soft .s_top .s_an .s_r {width:317px; height:20px; background:url(s05.html) no-repeat;}
.box .soft .s_top .s_text {color:#737373; width:950px; height:40px; background:url(sbg.html) no-repeat;}
.s01 {width:145px; height:30px; border:none; background:url(s01.html) no-repeat; cursor:pointer;}
.s02 {width:164px; height:30px; border:none; background:url(s02.html) no-repeat; cursor:pointer;}
.s03 {width:169px; height:30px; border:none; background:url(s03.html) no-repeat; cursor:pointer;}
.s04 {width:153px; height:30px; border:none; background:url(s04.html) no-repeat; cursor:pointer;}
.t01 {width:112px; padding-left:20px; text-align:left;}
.t02 {width:133px; padding-left:8px; text-align:left;}
.t03 {width:88px; padding-left:9px; text-align:left;}
.t04 {width:123px; padding-left:9px; text-align:left;}
.t05 {width:140px; padding-left:12px; text-align:left;}
.t06 {width:178px; padding-left:13px; text-align:left;}
.t07 {width:90px; padding-left:13px; text-align:left;}
.t08 {width:127px; padding-left:20px;text-align:left;}
.t09 {width:128px; padding-left:8px; text-align:left;}
.t10 {width:79px; padding-left:8px; text-align:left;}
.t11 {width:164px; padding-left:13px; text-align:left;}
.t12 {width:140px; padding-left:13px; text-align:left;}
.t13 {width:230px; padding-left:13px; text-align:left;}
.t_h {height:28px; padding-top:10px;}
.t14 {font-size:12px; width:912px; height:400px; border:#d3eace 1px solid; background:#f3fff1;}
.box .soft .s_body{width:950px; padding:12px 0; text-align:center;}
#footer{
	color:#737373; 
	text-align:center;
	line-height:18px; 
	padding:15px 0 18px 0; 
}
#footer a{
	color:#737373;
	text-decoration:none;}
#footer a:hover{
	color:#f06314; 
	text-decoration:underline;
}
#footer span{
	color:#737373;
}
#footer span a{
	color:#737373; 
	text-decoration:none;
}
.box .foot span a:hover{
	color:#f06314; 
	text-decoration:underline;
}
#partner{
	color:#737373; 
	text-align:center;
	line-height:18px; 
	padding:15px 0 6px 0; 
}
#partner a{
	color:#737373;
	text-decoration:none;}
#partner a:hover{
	color:#f06314; 
	text-decoration:underline;
}
#partner .link li{
    float:left;
    line-height:14px;
    padding:8px 10px 10px 10px;
    white-space:nowrap;
}
select,input{ 
   margin:10px; 
   padding:5px; 
}
li{
   list-style-type:none;
}
